# Segmentation and Clustering: Part 2

### Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Let us read the csv file created in the previous part which consists of the data frame

In [2]:
df = pd.read_csv("dataset.csv")
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### Getting the coordinates

The geocoder library is taking too much to time to execute, hence I am using the .csv file provided

In [5]:
link = "http://cocl.us/Geospatial_data"
df1 = pd.read_csv(link)
df1.columns = ['PostalCode','Latitude','Longitude']
df1.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

### Merging the first csv file and the current one with coordinates

In [7]:
new_df = pd.merge(df,df1, on = "PostalCode")
new_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### Saving the newly obtained data frame as .csv file

In [8]:
final_df = new_df.to_csv(r'final_df.csv')